@madia (max-width:1500px)
{

    .heading-contact{
        margine-bottom:60px !important;
        margine-top:90px;
        

    }
  
}

@media(max-width:1200px)
{
    .form-origin{

        width:100%;
        height:100%;

    }
}
@media(max-width:992px)
{

    .navbar{
        background-color: #232323;
    }

    .nav-item .nav-link{

        color:rgb(36, 193,255);
        font-size: 17px;
        font-weight: 600;

    }
    .navbar-toggler-icon {
        background-color: #fef7f7; /* Specify the color you want */
    }

    .logo{

        color:rgb(255,129,57) !important;

    }

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-bar .nav-item{

    margin: 8px 0px;
}

.box-container{

    padding-left: 90px;
}


.contact-form {

    width: 100%;
    height: 100%;
    text-align: center;
    padding: 26px 10px;
   
}


}


















@media (max-width:1300px)
{

.img-home{

    width: 420px;
    margin-right:0px;
    
}

.image-about{


    height: 80%;
    width:100%;
    position:static;
    top: 0px;
    right: 0px;

}


.about-us-container{

    height: 100vh !important;
}

.about-us{

    margin: top 0px;
    
}


.product-catagory{

    width: 100%;
    height: auto;
}


}


    
@media (max-width:448px)
{

    footer{
        display: none;
    }
}

@media(max-width:500px){



    .btn-home{
        display: none;
    }
    .para-home{

        display: none;
    }
    .about-us-container{
        margin-top: 300px;
    }
}


@media(max-height:768px){



    .btn-home{
        display: none;
    }
    .para-home{

        display: none;
    }
    .about-us-container{
        margin-top: 300px;
    }
}



